body{
  background-color: #fcfbfb;
  font-family: 'Roboto', sans-serif;
  }

/* start upper bar */

.upper-bar{
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;

}

/* end upper bar */

/* start search-bar */

.search-bar{
  border-bottom: 1px solid #ddd;
  background-color: #fff;

}

.search-bar .navbar .navbar-brand{
  font-size: 30px;
  margin-right: 25px
}

.form-inline{
  width: 690px;
}

.form-inline .form-control{
  width: 75%;
}

.form-inline .btn{
  width: 20%
}

.navbar-light .navbar-nav .nav-link{
  font-size: 20px;
}
.search-bar .nav-link .fa,.fas{
  padding: 6px;
  margin-top: 0px;
  margin-left: 0px;
}
/* end search-bar */


/* start product bar */

.product-bar{
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  margin-top: 110px;

}

.product-bar .nav .nav-item .nav-link{
  padding: 0;
}

.span-bar{
  margin-left: 10px;
  margin-right: 10px;
}


/* end product bar*/

/* start slider */

.slider{
  background-color: #ddd;
}

.slider .carousel-item{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.slider .carousel-one{
  background-image: url("images/nnn.jpg");
}

.slider .carousel-two{
  background-image: url("images/nnn.jpg");
}

.slider .carousel-three{
  background-image: url("images/nnn.jpg");
}


/* end slider */


/* registre page */

.registre-page{
  width: 400px;
  margin: 130px auto;
  border: 2px solid #ddd;
  padding: 20px;
}
.registre-page .form-control{
 position: relative;
}
.registre-page .btn{
  margin-top: 10px;
}

.registre-page label{
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
}

.registre-page .fas{
  margin-left: 313px;
  margin-top: 5px;
  position: absolute;
  z-index: 11;
}

.start{
  color: red;
}
.errorr{
  color: red;
}

/* registre page */

/* sign in page*/
.sign-in{
  width: 400px;
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 20px;
}
.sign-in .form-control{
  margin-bottom: 15px;
}
.sign-in .btn{
  margin-top: 10px;
}
.sign-in label{
  font-weight: bold;
  margin-bottom: 0;
}

.ert{
  width: 400px;
  text-align: center;
  margin: 20px auto;
}

/* sign in page*/

/* create ad */

.create-ad{
  margin: 150px auto;
  width: 570px;
  border: 2px solid #ddd;
  background-color: #ddd;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.create-ad label{
  display: block;
  margin: 0;

}

.create-ad .input-number{
  width: 100px;
  display: block;
}

.create-ad .state{
  width: 150px;
}

.create-ad .city{
  width: 150px;

}

.create-ad .display-inline{
  display: inline-block;
}

.list-group-item{
  padding: 7px 1.25rem;
}

.alert-success{
  margin: 110px auto;
  width: 500px;
}
/* create ad */


/* update page */

.update{
width: 750px;
margin: 200px auto;
font-size: 25px;
line-height: 52px;
border: 2px solid #ddd;
padding: 20px;
}

.update h3{
  border-bottom: 2px solid #ddd;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* update page */

/* start filter-product */

.filter-product{
  margin-top: 40px;
}

.filter-product a{

}

.card-body .btn{
  margin-left: 11px;
}

.card-body{
  background-color: #f7f7f7;
}


.card-img-top {
  height: 150px;
  width: 100%;
}

.card-deck .card {
  margin-bottom: 15px;
  height: 409px;
}

.card-deck .card{
  width: 217px;
}

@media (max-width: 800px) {
  .form-inline .form-control{
    width: 35%;
  }
  .form-inline .btn{
    width: 15%;
  }
  .card-deck .card{
    width: 217px;
  }
  .card-img-top{
    width: 215px;
  }
  .update{
    width: 470px;
  }
  .product-bar{
    margin-top: 125px;
  }
  .show-filtre{
    display: none;
  }

}

.button-set{
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 800px){
  .afficher-filtre{
    display: none;
  }
}

.price-style{
  font-weight: bold;
  font-size: 30px;
  color: #333333;
}

.telephone-style{
  margin-bottom: 7px;
}

/* end filter-product */


/* product-present*/

.product-present img{
  height: 500px;
}

.product-present .carousel-control-prev-icon{
  width: 40px;
  height: 35px;
  background-color: black;
  padding: 25px;
  border-radius: 5px;
}

.product-present .carousel-control-next-icon{
  width: 40px;
  height: 35px;
  background-color: black;
  padding: 25px;
  border-radius: 5px;
}

.product-present .carousel-indicators li{
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

/* product-present*/

/* footer page */

.footer{
  margin-top: 100px;
  padding-top: 80px;
  background-color: #ddd;
}

.footer h1{
  margin-bottom: 30px;
}

/* footer page */

.social-media{
  font-size: 40px;
  margin-right: 5px;
}
